* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --azure: #0290ff;
  --black-two: #121212;
  --black-5: rgba(0, 0, 0, 0.05);
  --fff: #fafafa;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  /* stylelint-disable-next-line csstree/validator */
  color-scheme: light dark;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.logo {
  will-change: filter;
  cursor: pointer;
  font-size: 1.875rem;
  font-weight: bold;
  color: var(--azure);
  margin-left: 53px;
}

.head {
  position: relative;
  justify-content: flex-start;
}

svg {
  position: fixed;
  top: -27px;
  left: 65px;
}

a {
  font-weight: 500;
  color: var(--black-two);
  text-decoration: inherit;
  opacity: 0.5;
}

a:hover {
  opacity: 1;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
}

.line-hr {
  position: fixed;
  top: 0;
  height: 5.938rem;
  border-bottom: 1px solid var(--black-5);
  width: 100%;
  background-color: #fff;
  z-index: 5;
}

.header {
  height: inherit;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
}

.navLinks {
  list-style: none;
  gap: 2.56rem;
  text-transform: uppercase;
  font-size: 0.813rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.container {
  width: 80%;
  margin: 8rem auto;
}

.booklet-card {
  max-width: 100%;
  height: 10.625rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  margin-bottom: 0.938rem;
}

.book-info {
  width: inherit;
}

.book-actions {
  gap: 1rem;
}

.book-actions button {
  background-color: transparent;
  border: none;
  width: 4.563rem;
  height: 1.188rem;
  margin: 0.188rem 0.938rem 0.125rem 0;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.form {
  width: 100%;
  max-width: 350px;
  margin: 3rem auto;
  align-items: center;
}

input[type="button"],
.submitBtn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

input[type="submit"].submitBtn {
  width: 100px;
  height: 36px;
}

input[type="button"]:hover,
.submitBtn:hover {
  border-color: #646cff;
}

input[type="button"]:focus,
input[type="button"]:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff;
  }

  a:hover {
    color: var(--black-two);
  }

  input[type="button"],
  .submitBtn {
    background-color: #f9f9f9;
  }
}
