* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --azure: #0290ff;
  --black-two: #121212;
  --black-5: rgba(0, 0, 0, 0.05);
  --fff: #fafafa;
  --medium-blue: #307bbe;
  --light-pink: #c4c4c4;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  /* stylelint-disable-next-line csstree/validator */
  color-scheme: light dark;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.logo {
  will-change: filter;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.875rem;
  color: var(--azure);
  margin-left: -63px;
}

.user-div {
  width: 2.813rem;
  height: 2.813rem;
  padding: 0.875rem;
  border: solid 1px #e8e8e8;
  border-radius: 50%;
  color: var(--azure);
}

.head {
  position: relative;
}

.svg {
  position: relative;
  top: 5px;
  left: -64px;
}

a {
  font-weight: 500;
  color: var(--black-two);
  text-decoration: inherit;
  opacity: 0.5;
}

a:hover {
  opacity: 1;
}

a:active {
  opacity: 1;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
}

.line-hr {
  position: fixed;
  top: 0;
  height: 5.938rem;
  border-bottom: 1px solid var(--black-5);
  width: 100%;
  background-color: #fff;
  z-index: 5;
}

.header {
  height: inherit;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
}

.navLinks {
  list-style: none;
  gap: 2.56rem;
  text-transform: uppercase;
  font-size: 0.813rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.container {
  width: 80%;
  margin: 8rem auto;
}

hr {
  margin-top: 2.5rem;
  color: var(--black-5);
}

/* Book Info styling */

.category {
  opacity: 0.5;
  font-size: 0.875rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: var(--black-two);
}

.title {
  font-size: 1.375rem;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  margin-top: 0.188rem;
  letter-spacing: -0.2px;
  color: var(--black-two);
}

.author {
  height: 1.188rem;
  font-size: 0.875rem;
  font-weight: 300;
  font-family: 'Roboto Slab', serif;
  color: #4386bf;
  margin-top: 0.25rem;
}

.booklet-card {
  width: 100%;
  height: 10.625rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  padding: 2rem 1.625rem 1.688rem;
  margin-bottom: 0.938rem;
  box-shadow: 0 0 60px 0 var(--black-5);
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.book-actions {
  margin-top: 1.125rem;
}

.book-actions button {
  background-color: transparent;
  border: none;
  height: 1.188rem;
  font-size: 0.875rem;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #4386bf;
  margin: 0.188rem 0.938rem 0.125rem 0;
  cursor: pointer;
}

button:nth-of-type(1),
button:nth-of-type(2) {
  border-right: 1px solid #e8e8e8;
  padding-right: 0.938rem;
}

.Oval-2 {
  width: 4.25rem;
  height: 4.25rem;
  border-style: solid;
  border-width: 5px;
  border-image-source: linear-gradient(to bottom, var(--medium-blue), #379cf6);
  border-image-slice: 1;
}

.chart {
  gap: 1.3rem;
  padding-right: 5.75rem;
  border-right: solid 1px #e8e8e8;
  margin-right: 3.688rem;
}

.current {
  font-size: 0.813rem;
  opacity: 0.5;
  color: var(--black-two);
  font-weight: 300;
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
}

.chapter {
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  font-weight: 300;
}

.progressUpdate {
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  width: 11.5rem;
  border-radius: 3px;
  background-color: var(--azure);
  font-family: 'Roboto Slab', serif;
  color: #fff;
  font-size: 0.813rem;
  letter-spacing: 0.5px;
  cursor: pointer;
  border: none;
  margin-top: 0.75rem;
  text-transform: uppercase;
}

.form {
  max-width: 100%;
  margin: 3rem auto;
}

.form h2 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: -0.18px;
  font-weight: bold;
  color: #888;
}

.inputElems {
  flex-wrap: wrap;
  gap: 2.15rem;
}

.book-title {
  width: 41.6rem;
  max-width: 50%;
}

.book-author {
  width: 20rem;
  max-width: 25%;
}

.book-category {
  background-color: transparent;
  width: 15rem;
  max-width: 18%;
}

input[type="text"]:focus {
  color: var(--black-two);
  outline: none;
}

input[type="text"]:valid {
  border-color: var(--medium-blue);
}

input[type="submit"].submitBtn {
  padding: 0.6em 1.2em;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--azure);
  cursor: pointer;
  border-radius: 3px;
  transition: border-color 0.25s;
  width: 100%;
  max-width: 11.5rem;
  color: #fff;
  font-size: 0.813rem;
  letter-spacing: 0.5px;
  border: none;
  text-transform: uppercase;
}

button:hover,
.submitBtn:hover {
  opacity: 0.8;
}

input[type="button"]:focus,
input[type="button"]:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff;
  }

  a:hover {
    color: var(--black-two);
  }

  input[type="button"],
  .submitBtn {
    background-color: #f9f9f9;
  }
}
